<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.zheng.rpc"/>

    <context:property-placeholder location="classpath:rpc.properties"/>

    <!--将服务器地址注册到zookeeper-->
    <bean id="serviceRegistry" class="com.zheng.rpc.registry.ServiceRegistry">
        <constructor-arg name="serviceRegistry" value="${registry.address}"/>
    </bean>

    <!--
        用于将@RpcService注解的服务暴露出来
        这里通过rpcServer统一处理服务端的业务逻辑
    -->
    <bean id="rpcServer" class="com.zheng.rpc.server.RpcServer">
        <constructor-arg name="serverAddress" value="${server.address}"/>
        <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
    </bean>

</beans>